<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet" href="styles/results.css">
    <%-include('partials/links.ejs')%>
    <%-include('partials/nav.ejs')%>
</head>
<body>
    <%-include('partials/sidenav.ejs')%>

    <div class="item3">

        <div class="resultvids">
          <p>
              
              <iframe width="420" height="315"
              src="https://www.youtube.com/embed/tgbNymZ7vqY">
              </iframe>
               <span class="artistTitle">Artist: Title</span> 
               <br>
               2views <%=new Date().toLocaleDateString()%>
               <br>
               <br>
               <p><img class= "profileimg" src="https://cdn.shopify.com/s/files/1/0518/7785/articles/Untitled_design-6.png?v=1609312268" alt="artist profile picture"></p> 
               <p>Artist</p>
                <br>
                <p>Description Goes Here</p>
          </p>
          <br>
          <br>
          <br>
          <br>
          <p>
              
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
             <span class="artistTitle">Artist: Title</span> 
             <br>
             2views <%=new Date().toLocaleDateString()%>
             <br>
             <br>
             <p><img class= "profileimg" src="https://cdn.shopify.com/s/files/1/0518/7785/articles/Untitled_design-6.png?v=1609312268" alt="artist profile picture"></p> 
             <p>Artist</p>
              <br>
              <p>Description Goes Here</p>
        </p>

        <br>
          <br>
          <br>
          <br>
          <p>
              
            <iframe width="420" height="315"
            src="https://www.youtube.com/embed/tgbNymZ7vqY">
            </iframe>
             <span class="artistTitle">Artist: Title</span> 
             <br>
             2views <%=new Date().toLocaleDateString()%>
             <br>
             <br>
             <p><img class= "profileimg" src="https://cdn.shopify.com/s/files/1/0518/7785/articles/Untitled_design-6.png?v=1609312268" alt="artist profile picture"></p> 
             <p>Artist</p>
              <br>
              <p>Description Goes Here</p>
        </p>


     

        
    </div>
    

   
</body>
</html>