<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <%-include('partials/links.ejs')%>
    <link rel="stylesheet" href="/styles/results.css">
</head>
<body>
    <%-include('partials/header.ejs') %>
    <div class="main">
        <%-include('partials/sideBar.ejs')%>    
        <div class="video-content">
            <div class="tags">
                <i class='filter-icon w3-large fas fa-sliders-h'></i>
                <h3 class="filter-label">FILTERS</h3>
                <hr class="horizontal-line">
            </div>
            <% for(let i = 0; i < videos.length; ++i){ %>
                <% const video = videos[i] %>
                <a class="icon-redirect" href="http://localhost:4500/watch/<%=video._id%>">
                    <div class="video-card">
                        <img class="video-card-img"src="<%=video.thumbnail%>" alt="">
                        <div class="video-card-info">
                            <div class="video-title-container">
                                <h5 class="video-title"><%= video.title %></h5>
                            </div>
                            <div class="view-and-date-container">
                                <h6><%= video.views %> views - <%= video.createdAt %></h6>
                            </div>
                            <div class="description-container">
                                <h6 class="description"><%= video.description %></h6>
                            </div>
                        </div>
                    </div>
                </a>
                
            <% } %>
        </div>
    </div>
    
</body>
</html>