<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=videoLink.title%></title>
    <link rel="stylesheet" href="/styles/show2.css">
    <%-include('partials/links.ejs')%>
    <%-include('partials/nav.ejs')%>
</head>
<body>
    <div class="grid-container">
        
        <div class="main-video-section">
            <div class="current-video">
                <iframe width="1000px" height="550px" src="<%=videoLink.videoData%>" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
               
                <%=videoLink.channel.name%> - <%=videoLink.title%>
            </div>
            <div class="video-title-likes">
                <p><%=videoLink.views%> views <%=new Date().toLocaleDateString()%> 
                 
                    <button><i class=" fa-solid fa-thumbs-up"></i> <%=videoLink.likes%></button>
                    <button><i class=" fa-solid fa-thumbs-down"></i>DISLIKE</button>
                    <button><i class="fa-solid fa-share"></i>SHARE</button>
                    <button><i class="fa-solid fa-download"></i>DOWNLOAD</button>
                    <button><i class="fa-solid fa-scissors"></i>CLIP</button>
                    <button><i class="fa-solid fa-plus"></i>SAVE</button>
                    
                
               
            
                </p> 
            </div>
            <hr>
            <div class="video-description">
                <img class ="profile-img"src="<%=videoLink.thumbnail%>" alt="Artist Profile Picture">
                <h3>Artist<span><button class="i">Subscribe</button></span></h3>
                <p>Subscribers</p>
                <p><%=videoLink.description%></p>
            </div>
            <hr>
            <div class="video-comments">
                <span><%=videoLink.comments.length+1%> Comments<i class="fa-solid fa-arrow-down-wide-short"></i> SORT BY</span>
                    <%for(let i = 0; i < allComments.length; i++) {%>
                    <div class="comments">
                        <%=allComments[i].textContent%>
                    </div>
                    <%}%>
            </div>
            <br>
          
        </div>
        

        
        <div class="side-video-playlist">
            <div class="tags">
                <button>tag</button>
            </div>
            <%for(let i = 0; i< 10; i++){%>
                <p><a class="video-title" href="/watch/<%=videos[i]._id%>"><img src="<%=videos[i].thumbnail%>" alt="<%=videos[i].title%>"><%= videos[i].title %></a></p>
           <% }%>

        </div>
        
        
        
        

    
    </div>
</body>
</html>