<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=currentVideo.title%></title>
    <link rel="stylesheet" href="/styles/watch.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="/watch.js"defer></script>
    <%-include('partials/links.ejs')%>
</head>
<body>
    
    
    <%-include('partials/header.ejs')%>
        <div class="main-video-section">
            <div class="current-video">
                <iframe width="1000px" height="550px" src="<%=currentVideo.videoData%>" 
                title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; 
                encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                </iframe>
                
                <%=currentVideo.channel.name%> - <%=currentVideo.title%>
            </div>
            <div class="video-title-likes">
                <div class="views-date">
                    <% const options = {year:'numeric', month:'long', day:'numeric'}%>
                    <%=currentVideo.views%> views • <%=currentVideo.createdAt.toLocaleDateString(undefined,options)%> 
                
                </div>
                
                <div class="video-title-icons">

                    <button><i class=" fa-solid fa-thumbs-up"></i> <%=currentVideo.likes%></button>
                    <button><i class=" fa-solid fa-thumbs-down"></i>DISLIKE</button>
                    <button><i class="fa-solid fa-share"></i>SHARE</button>
                    <button><i class="fa-solid fa-download"></i>DOWNLOAD</button>
                    <button><i class="fa-solid fa-scissors"></i>CLIP</button>
                    <button><i class="fa-solid fa-plus"></i>SAVE</button>
                    <button><i class="fa-solid fa-ellipsis"></i></button>

                </div>
                    
                
               
            
                
            </div>
            <hr>
            <div class="video-description-grid">

                <div class="video-description">
                    <img class ="profile-img"src="<%=currentVideo.thumbnail%>" alt="Artist Profile Picture">
                </div>
                <div class="channel-subs">

                    <h4> <%=currentVideo.channel.name%></h4>
                    <br>
                    <p><%=currentVideo.channel.subscribers%> Subscribers</p>
                </div>
                <div class="subscribe-button">

                    <button class="subscribe">SUBSCRIBE</button>
                </div>
                <div class="description">

                    <p><%=currentVideo.description%></p>
                
                </div>
            </div>
            <hr>
            <div class="video-comments">

                <form method="POST" action="/watch/<%=currentVideo._id %>" autocomplete="off">
                    <input type="hidden" name="isReply" value="false">
                    <input type="hidden" name="channel" value="626957058e1967faf6148714">
                    <input type="hidden" name="videoId" value="<%= currentVideo._id %>">
                    <input type="text" name="textContent" id="addingcomment" style="font-size:15px" placeholder="Add a comment...">
                    <input class="comment-button hidden" type="submit" value="COMMENT">
                </form>
                <button class="cancel hidden">CANCEL</button>


                <span class="comment-length"><%=currentVideo.comments.length%> Comments<i class="fa-solid fa-arrow-down-wide-short"></i> SORT BY</span>
                    <%for(let i = 0; i < currentVideo.comments.length; i++) {%>
                        <% const comment = currentVideo.comments[i] %>
                        
                        
                    <div class="comments">
                        <div class="user-img">
                            <img class="profile-img"src="<%=currentVideo.channel.image%>" alt="placerholder">
                        </div>
                        <div class="user-name">
                            <h5><%=currentVideo.channel.name%></h5>        
                            <p><%=comment.textContent%></p>
                            <div class="like-reply">
                                <button><i class="fa-regular fa-thumbs-up like-button"></i></button>
                                <button><i class="fa-regular fa-thumbs-down"></i></button>
                                <button><i class="fa-regular fa-heart"></i></button>
                                <button>REPLY</button>
                            </div>
                        </div>
                        <button class="edit-pin hidden"><i class="fa-solid fa-ellipsis-vertical"></i></button>
                        <div class="edit-delete hidden">
                            
                            <form method="POST" action="/watch/<%= comment._id %>?_method=PUT">
                                <input type="text" name="textContent" value="<%= comment.textContent %>">
                                <input type="hidden" name="videoId" value="<%= currentVideo._id %>">
                                <input class="edit-button" type="submit" value="Edit">
    
                            </form>
                            <form class="delete" method="POST" action="/watch/<%= comment._id %>?_method=DELETE">
                                <input type="hidden" name="videoId" value="<%= currentVideo._id %>">
                                <input class="delete-button" type="submit" value="Del">
                            </form>
                        </div>
                       
                        
                        
                    </div>
                    <br>
                    <%}%>
            </div>
            <br>
          
        </div>
        

        
        <div class="side-video-playlist">
            <div class="tags">
                <button class="tag-button">Cars</button>
                <button class="tag-button">Science</button>
                <button class="tag-button">Cats</button>
                <button class="tag-button">Money</button>
            
            </div>
            <%for(let i = 0; i< allVideos.length; i++){%>
            <div class="side-video-grid">
                <a href="/watch/<%=allVideos[i]._id%>">
                    <div class="video-card">
                        <div class="video-card-info">
                            <div class="video-thumbnail">
                                <img src="<%=allVideos[i].thumbnail%>" alt="Picture of video thumbnail">
                            </div>

                            <div class="video-card-title">
                                <h5><%=allVideos[i].title%></h5>
                                <h6><%=allVideos[i].channel.name%></h6>
                                <h6><%=allVideos[i].views%> views • <%=allVideos[i].createdAt.toLocaleDateString()%></h6>
                            </div>
                            
                            <div class="video-card-channel-name">
                            </div>
                        
                        </div>
                    </div>
                </a>
                
                    
            </div>
            <% }%>
                
        </div>
        
        
        
        

    
  
</body>
</html>